# Unity baked assets
LightingData.asset
LightingData.asset.meta
Lightmap*.png
Lightmap*.png.meta
Lightmap*.exr
Lightmap*.exr.meta
ReflectionProbe*.exr
ReflectionProbe*.exr.meta

# Other assets
# OptimizedShaders/
# OptimizedShaders.meta
/SerializedUdonPrograms/
/SerializedUdonPrograms.meta
/CyanTrigger/CyanTriggerSerialized/
/CyanTrigger/CyanTriggerSerialized.meta
